.signIn_wrapper {
	width: 100vw;
	height: 100vh;
	background-image: url(../../../../assets/images/backgound_login.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.signIn_block {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 575px) {
	.titleLogin {
		font-size: 0.85rem !important;
	}
}
